h2{
    text-align: center;
}
input{
    padding: 15px;
}
div{
    background-color: #1753d4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 4px 8px 5px black;
    color: white;
}

ul {
    list-style: none;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
  
li {
    /* width: 70%; */
    padding: 10px;
    font-size: large;
    background: #6a8f8f;
    margin: 5px;
}
button{
    float: right;
    background: #69c4ba;
    color: rgb(136, 13, 13);
    
}